{% extends 'base.html' %}
{% block content %}


    <div class="page-body">

        <div class="container-xl">
            <div class="row row-deck row-cards">

                {% include 'layouts/widget/_sticker.html' %}

                {% include 'layouts/widget/_tag.html' %}

                {% include 'layouts/widget/_map.html' %}

                {% include 'layouts/widget/_tri-board.html' %}

                {% include 'layouts/widget/_one-line.html' %}

                {% include 'layouts/widget/_twi-board.html' %}

                {% include 'layouts/widget/_table.html' %}








            </div>
        </div>

    </div>


{% endblock %}