<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu"
                aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="nav-item dropdown text-center mt-4">

        </div>

        <div class="collapse navbar-collapse" id="sidebar-menu">
            <ul class="navbar-nav pt-lg-3">
                {% include 'layouts/_sidebar_left_ul/_dashboard.html' %}
                {% include 'layouts/_sidebar_left_ul/_gallery.html' %}

                {% include 'layouts/_sidebar_left_ul/_procurement.html' %}
                {% include 'layouts/_sidebar_left_ul/_storage.html' %}

                {% include 'layouts/_sidebar_left_ul/_trade.html' %}
                {% include 'layouts/_sidebar_left_ul/_logistics.html' %}
                {% include 'layouts/_sidebar_left_ul/_manufacturing.html' %}


            </ul>
        </div>
    </div>
</aside>