                <div class="col-md-12 col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Most Visited Pages</h3>
                        </div>
                        <div class="card-table table-responsive">
                            <table class="table table-vcenter">
                                <thead>
                                <tr>
                                    <th>Page name</th>
                                    <th>Visitors</th>
                                    <th>Unique</th>
                                    <th colspan="2">Bounce rate</th>
                                </tr>
                                </thead>
                                <tr>
                                    <td>
                                        /
                                        <a href="#" class="ms-1" aria-label="Open website">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/link -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                 height="24" viewBox="0 0 24 24" stroke-width="2"
                                                 stroke="currentColor" fill="none" stroke-linecap="round"
                                                 stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M9 15l6 -6"/>
                                                <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464"/>
                                                <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463"/>
                                            </svg>
                                        </a>
                                    </td>
                                    <td class="text-secondary">4,896</td>
                                    <td class="text-secondary">3,654</td>
                                    <td class="text-secondary">82.54%</td>
                                    <td class="text-end w-1">
                                        <div class="chart-sparkline chart-sparkline-sm"
                                             id="sparkline-bounce-rate-1"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        /form-elements.html
                                        <a href="#" class="ms-1" aria-label="Open website">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/link -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                 height="24" viewBox="0 0 24 24" stroke-width="2"
                                                 stroke="currentColor" fill="none" stroke-linecap="round"
                                                 stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M9 15l6 -6"/>
                                                <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464"/>
                                                <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463"/>
                                            </svg>
                                        </a>
                                    </td>
                                    <td class="text-secondary">3,652</td>
                                    <td class="text-secondary">3,215</td>
                                    <td class="text-secondary">76.29%</td>
                                    <td class="text-end w-1">
                                        <div class="chart-sparkline chart-sparkline-sm"
                                             id="sparkline-bounce-rate-2"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        /index.html
                                        <a href="#" class="ms-1" aria-label="Open website">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/link -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                 height="24" viewBox="0 0 24 24" stroke-width="2"
                                                 stroke="currentColor" fill="none" stroke-linecap="round"
                                                 stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M9 15l6 -6"/>
                                                <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464"/>
                                                <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463"/>
                                            </svg>
                                        </a>
                                    </td>
                                    <td class="text-secondary">3,256</td>
                                    <td class="text-secondary">2,865</td>
                                    <td class="text-secondary">72.65%</td>
                                    <td class="text-end w-1">
                                        <div class="chart-sparkline chart-sparkline-sm"
                                             id="sparkline-bounce-rate-3"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        /icons.html
                                        <a href="#" class="ms-1" aria-label="Open website">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/link -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                 height="24" viewBox="0 0 24 24" stroke-width="2"
                                                 stroke="currentColor" fill="none" stroke-linecap="round"
                                                 stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M9 15l6 -6"/>
                                                <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464"/>
                                                <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463"/>
                                            </svg>
                                        </a>
                                    </td>
                                    <td class="text-secondary">986</td>
                                    <td class="text-secondary">865</td>
                                    <td class="text-secondary">44.89%</td>
                                    <td class="text-end w-1">
                                        <div class="chart-sparkline chart-sparkline-sm"
                                             id="sparkline-bounce-rate-4"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        /docs/
                                        <a href="#" class="ms-1" aria-label="Open website">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/link -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                 height="24" viewBox="0 0 24 24" stroke-width="2"
                                                 stroke="currentColor" fill="none" stroke-linecap="round"
                                                 stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M9 15l6 -6"/>
                                                <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464"/>
                                                <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463"/>
                                            </svg>
                                        </a>
                                    </td>
                                    <td class="text-secondary">912</td>
                                    <td class="text-secondary">822</td>
                                    <td class="text-secondary">41.12%</td>
                                    <td class="text-end w-1">
                                        <div class="chart-sparkline chart-sparkline-sm"
                                             id="sparkline-bounce-rate-5"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        /accordion.html
                                        <a href="#" class="ms-1" aria-label="Open website">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/link -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                 height="24" viewBox="0 0 24 24" stroke-width="2"
                                                 stroke="currentColor" fill="none" stroke-linecap="round"
                                                 stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M9 15l6 -6"/>
                                                <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464"/>
                                                <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463"/>
                                            </svg>
                                        </a>
                                    </td>
                                    <td class="text-secondary">855</td>
                                    <td class="text-secondary">798</td>
                                    <td class="text-secondary">32.65%</td>
                                    <td class="text-end w-1">
                                        <div class="chart-sparkline chart-sparkline-sm"
                                             id="sparkline-bounce-rate-6"></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a href="https://github.com/sponsors/codecalm" class="card card-sponsor" target="_blank"
                       rel="noopener" style="background-image: url(./static/sponsor-banner-homepage.svg)"
                       aria-label="Sponsor Tabler!">
                        <div class="card-body"></div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Social Media Traffic</h3>
                        </div>
                        <table class="table card-table table-vcenter">
                            <thead>
                            <tr>
                                <th>Network</th>
                                <th colspan="2">Visitors</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Instagram</td>
                                <td>3,550</td>
                                <td class="w-50">
                                    <div class="progress progress-xs">
                                        <div class="progress-bar bg-primary" style="width: 71.0%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Twitter</td>
                                <td>1,798</td>
                                <td class="w-50">
                                    <div class="progress progress-xs">
                                        <div class="progress-bar bg-primary" style="width: 35.96%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Facebook</td>
                                <td>1,245</td>
                                <td class="w-50">
                                    <div class="progress progress-xs">
                                        <div class="progress-bar bg-primary" style="width: 24.9%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>TikTok</td>
                                <td>986</td>
                                <td class="w-50">
                                    <div class="progress progress-xs">
                                        <div class="progress-bar bg-primary" style="width: 19.72%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Pinterest</td>
                                <td>854</td>
                                <td class="w-50">
                                    <div class="progress progress-xs">
                                        <div class="progress-bar bg-primary" style="width: 17.08%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>VK</td>
                                <td>650</td>
                                <td class="w-50">
                                    <div class="progress progress-xs">
                                        <div class="progress-bar bg-primary" style="width: 13.0%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Pinterest</td>
                                <td>420</td>
                                <td class="w-50">
                                    <div class="progress progress-xs">
                                        <div class="progress-bar bg-primary" style="width: 8.4%"></div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12 col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Tasks</h3>
                        </div>
                        <div class="table-responsive">
                            <table class="table card-table table-vcenter">
                                <tr>
                                    <td class="w-1 pe-0">
                                        <input type="checkbox" class="form-check-input m-0 align-middle"
                                               aria-label="Select task" checked>
                                    </td>
                                    <td class="w-100">
                                        <a href="#" class="text-reset">Extend the data model.</a>
                                    </td>
                                    <td class="text-nowrap text-secondary">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                             stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"/>
                                            <path d="M16 3v4"/>
                                            <path d="M8 3v4"/>
                                            <path d="M4 11h16"/>
                                            <path d="M11 15h1"/>
                                            <path d="M12 15v3"/>
                                        </svg>
                                        August 04, 2021
                                    </td>
                                    <td class="text-nowrap">
                                        <a href="#" class="text-secondary">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/check -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                 height="24" viewBox="0 0 24 24" stroke-width="2"
                                                 stroke="currentColor" fill="none" stroke-linecap="round"
                                                 stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M5 12l5 5l10 -10"/>
                                            </svg>
                                            2/7
                                        </a>
                                    </td>
                                    <td class="text-nowrap">
                                        <a href="#" class="text-secondary">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/message -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                 height="24" viewBox="0 0 24 24" stroke-width="2"
                                                 stroke="currentColor" fill="none" stroke-linecap="round"
                                                 stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M8 9h8"/>
                                                <path d="M8 13h6"/>
                                                <path d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z"/>
                                            </svg>
                                            3</a>
                                    </td>
                                    <td>
                                            <span class="avatar avatar-sm"
                                                  style="background-image: url(./static/avatars/000m.jpg)"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1 pe-0">
                                        <input type="checkbox" class="form-check-input m-0 align-middle"
                                               aria-label="Select task">
                                    </td>
                                    <td class="w-100">
                                        <a href="#" class="text-reset">Verify the event flow.</a>
                                    </td>
                                    <td class="text-nowrap text-secondary">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                             stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"/>
                                            <path d="M16 3v4"/>
                                            <path d="M8 3v4"/>
                                            <path d="M4 11h16"/>
                                            <path d="M11 15h1"/>
                                            <path d="M12 15v3"/>
                                        </svg>
                                        January 03, 2019
                                    </td>
                                    <td class="text-nowrap">
                                        <a href="#" class="text-secondary">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/check -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                 height="24" viewBox="0 0 24 24" stroke-width="2"
                                                 stroke="currentColor" fill="none" stroke-linecap="round"
                                                 stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M5 12l5 5l10 -10"/>
                                            </svg>
                                            3/10
                                        </a>
                                    </td>
                                    <td class="text-nowrap">
                                        <a href="#" class="text-secondary">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/message -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                 height="24" viewBox="0 0 24 24" stroke-width="2"
                                                 stroke="currentColor" fill="none" stroke-linecap="round"
                                                 stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M8 9h8"/>
                                                <path d="M8 13h6"/>
                                                <path d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z"/>
                                            </svg>
                                            6</a>
                                    </td>
                                    <td>
                                        <span class="avatar avatar-sm">JL</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1 pe-0">
                                        <input type="checkbox" class="form-check-input m-0 align-middle"
                                               aria-label="Select task">
                                    </td>
                                    <td class="w-100">
                                        <a href="#" class="text-reset">Database backup and maintenance</a>
                                    </td>
                                    <td class="text-nowrap text-secondary">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                             stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"/>
                                            <path d="M16 3v4"/>
                                            <path d="M8 3v4"/>
                                            <path d="M4 11h16"/>
                                            <path d="M11 15h1"/>
                                            <path d="M12 15v3"/>
                                        </svg>
                                        December 28, 2018
                                    </td>
                                    <td class="text-nowrap">
                                        <a href="#" class="text-secondary">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/check -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                 height="24" viewBox="0 0 24 24" stroke-width="2"
                                                 stroke="currentColor" fill="none" stroke-linecap="round"
                                                 stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M5 12l5 5l10 -10"/>
                                            </svg>
                                            0/6
                                        </a>
                                    </td>
                                    <td class="text-nowrap">
                                        <a href="#" class="text-secondary">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/message -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                 height="24" viewBox="0 0 24 24" stroke-width="2"
                                                 stroke="currentColor" fill="none" stroke-linecap="round"
                                                 stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M8 9h8"/>
                                                <path d="M8 13h6"/>
                                                <path d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z"/>
                                            </svg>
                                            1</a>
                                    </td>
                                    <td>
                                            <span class="avatar avatar-sm"
                                                  style="background-image: url(./static/avatars/002m.jpg)"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1 pe-0">
                                        <input type="checkbox" class="form-check-input m-0 align-middle"
                                               aria-label="Select task" checked>
                                    </td>
                                    <td class="w-100">
                                        <a href="#" class="text-reset">Identify the implementation team.</a>
                                    </td>
                                    <td class="text-nowrap text-secondary">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                             stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"/>
                                            <path d="M16 3v4"/>
                                            <path d="M8 3v4"/>
                                            <path d="M4 11h16"/>
                                            <path d="M11 15h1"/>
                                            <path d="M12 15v3"/>
                                        </svg>
                                        November 07, 2020
                                    </td>
                                    <td class="text-nowrap">
                                        <a href="#" class="text-secondary">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/check -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                 height="24" viewBox="0 0 24 24" stroke-width="2"
                                                 stroke="currentColor" fill="none" stroke-linecap="round"
                                                 stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M5 12l5 5l10 -10"/>
                                            </svg>
                                            6/10
                                        </a>
                                    </td>
                                    <td class="text-nowrap">
                                        <a href="#" class="text-secondary">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/message -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                 height="24" viewBox="0 0 24 24" stroke-width="2"
                                                 stroke="currentColor" fill="none" stroke-linecap="round"
                                                 stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M8 9h8"/>
                                                <path d="M8 13h6"/>
                                                <path d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z"/>
                                            </svg>
                                            12</a>
                                    </td>
                                    <td>
                                            <span class="avatar avatar-sm"
                                                  style="background-image: url(./static/avatars/003m.jpg)"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1 pe-0">
                                        <input type="checkbox" class="form-check-input m-0 align-middle"
                                               aria-label="Select task">
                                    </td>
                                    <td class="w-100">
                                        <a href="#" class="text-reset">Define users and workflow</a>
                                    </td>
                                    <td class="text-nowrap text-secondary">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                             stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"/>
                                            <path d="M16 3v4"/>
                                            <path d="M8 3v4"/>
                                            <path d="M4 11h16"/>
                                            <path d="M11 15h1"/>
                                            <path d="M12 15v3"/>
                                        </svg>
                                        November 23, 2021
                                    </td>
                                    <td class="text-nowrap">
                                        <a href="#" class="text-secondary">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/check -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                 height="24" viewBox="0 0 24 24" stroke-width="2"
                                                 stroke="currentColor" fill="none" stroke-linecap="round"
                                                 stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M5 12l5 5l10 -10"/>
                                            </svg>
                                            3/7
                                        </a>
                                    </td>
                                    <td class="text-nowrap">
                                        <a href="#" class="text-secondary">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/message -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                 height="24" viewBox="0 0 24 24" stroke-width="2"
                                                 stroke="currentColor" fill="none" stroke-linecap="round"
                                                 stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M8 9h8"/>
                                                <path d="M8 13h6"/>
                                                <path d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z"/>
                                            </svg>
                                            5</a>
                                    </td>
                                    <td>
                                            <span class="avatar avatar-sm"
                                                  style="background-image: url(./static/avatars/000f.jpg)"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1 pe-0">
                                        <input type="checkbox" class="form-check-input m-0 align-middle"
                                               aria-label="Select task" checked>
                                    </td>
                                    <td class="w-100">
                                        <a href="#" class="text-reset">Check Pull Requests</a>
                                    </td>
                                    <td class="text-nowrap text-secondary">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                             stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"/>
                                            <path d="M16 3v4"/>
                                            <path d="M8 3v4"/>
                                            <path d="M4 11h16"/>
                                            <path d="M11 15h1"/>
                                            <path d="M12 15v3"/>
                                        </svg>
                                        January 14, 2021
                                    </td>
                                    <td class="text-nowrap">
                                        <a href="#" class="text-secondary">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/check -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                 height="24" viewBox="0 0 24 24" stroke-width="2"
                                                 stroke="currentColor" fill="none" stroke-linecap="round"
                                                 stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M5 12l5 5l10 -10"/>
                                            </svg>
                                            2/9
                                        </a>
                                    </td>
                                    <td class="text-nowrap">
                                        <a href="#" class="text-secondary">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/message -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                 height="24" viewBox="0 0 24 24" stroke-width="2"
                                                 stroke="currentColor" fill="none" stroke-linecap="round"
                                                 stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M8 9h8"/>
                                                <path d="M8 13h6"/>
                                                <path d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z"/>
                                            </svg>
                                            3</a>
                                    </td>
                                    <td>
                                            <span class="avatar avatar-sm"
                                                  style="background-image: url(./static/avatars/001f.jpg)"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>