<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle {% if active_menu == 'trade' %}show active {% endif %}"
       href="#"
       data-bs-toggle="dropdown"
       data-bs-auto-close="false" 
       role="button" 
       aria-expanded="{% if active_menu == 'trade' %}true{% else %}false{% endif %}">
        <span class="nav-link-icon d-md-none d-lg-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                         stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                 stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"/>
            </svg>
                  </span>
                        <span class="nav-link-title">
                    订单管理
                  </span>
                    </a>
    <div class="dropdown-menu {% if active_menu == 'trade' %}show{% endif %}">
                        <div class="dropdown-menu-columns">
                            <div class="dropdown-menu-column">
                <a class="dropdown-item {% if active_submenu == 'report' %}active{% endif %}"
                   href="{% url 'trade:report' %}">
                    订单报表
                </a>
                <a class="dropdown-item {% if active_submenu == 'order' %}active{% endif %}"
                   href="{% url 'trade:order_list' %}">
                    订单列表
                                </a>
                            </div>
                        </div>
                    </div>
                </li>